<div class="col-xs-2">
  <div class="card card-price">
    <div class="card-icon">
      <img src="/assets/sunny.png" alt="sunny" />
    </div>
    <div class="card-body">
      <div class="lead">{{ forecast.summary }}</div>
      <table class="table">
        <tr>
          <td>Humidity</td>
          <td class="price">{{ forecast.humidity }}</td>
        </tr>
        <tr>
          <td>Precipitation</td>
          <td class="price">{{ forecast.precipitation }}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
