<div class="col-xs-2">
  <div class="card card-price">
    <div class="card-icon">
      <img src="/assets/{{ forecast.icon }}.png" alt="{{ forecast.icon }}" />
    </div>
    <div class="card-body">
      <div class="lead">{{ forecast.icon.split('-').join(' ') | titlecase }}</div>
      <div class="lead">
        <span class="price-large">
          {{ forecast.temperatureMax | number: '1.1-1' }}º {{ tempUnit }}
        </span>
        <span class="price-small"> / {{ forecast.temperatureMin }}º {{ tempUnit }} </span>
      </div>
      <div class="table">
        <table>
          <tr>
            <td><b>Humidity:</b></td>
            <td class="price">{{ forecast.humidity | number: '1.1-2' }}%</td>
          </tr>
          <tr>
            <td><b>Precipitation:</b></td>
            <td class="price">{{ forecast.precipitation | number: '1.1-2' }}%</td>
          </tr>
          <tr>
            <td><b>WindSpeed:</b></td>
            <td class="price">
              {{ forecast.wind | number: '1.1-2' }}
              <span class="unit-small">{{ windUnit }}</span>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
