<div class="col-xs-2 col-5">
  <div class="card card-price">
    <div class="card-icon">
      <img src="{{ forecast.imgPath }}" />
    </div>
    <div class="card-body">
      <div class="summary">
        <p>{{ forecast.summary | titlecase }}</p>
      </div>
      <div class="temps">
        <span class="price-large">
          {{ forecast.temperatureMax | number: '1.1-1' }}º {{ tempUnit }}
        </span>
        <span class="price-small"> / {{ forecast.temperatureMin }}º {{ tempUnit }} </span>
      </div>
      <div class="details">
        <table>
          <tr>
            <td><b>Humidity:</b></td>
            <td class="price">
              {{ forecast.humidity | number: '1.1-1' }}<span *ngIf="name == 'openweather'">%</span>
            </td>
          </tr>
          <tr *ngIf="name !== 'openweather'">
            <td><b>Precipitation:</b></td>
            <td class="price">{{ forecast.precipitation | number: '1.1-1' }}in</td>
          </tr>
          <tr>
            <td><b>WindSpeed:</b></td>
            <td class="price">
              {{ forecast.wind | number: '1.1-1' }}
              <span class="unit-small">{{ windUnit }}</span>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
