<div class="row">
  <div class="col-xs-8">weather for API {{ id }} works!</div>
  <div class="col-xs-4">
    <div class="input-group">
      <input class="form-control" type="text" placeholder="Enter address" [(ngModel)]="address" />
      <div class="input-group-btn">
        <button class="btn btn-default" (click)="getLocation()">
          <i class="glyphicon glyphicon-search"></i>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div *ngFor="let forecast of forecasts">
      <app-weather-item [forecast]="forecast"></app-weather-item>
    </div>
  </div>
</div>
